/* Ajustement global de la page */
.product-list-page {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f9f9f9; /* Couleur de fond similaire à l'image */
  border: 1px solid #e0e0e0; /* Ajouter une bordure subtile */
  border-radius: 8px;
}

.category-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 50px; /* Augmenter l'espace au-dessus du titre */
  margin-bottom: 50px; /* Augmenter l'espace en dessous du titre */
}

/* Options de filtre */
.filter-options {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-options button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background-color: #f0f0f0;
  border-radius: 20px;
  font-weight: bold;
  color: #333;
  transition: background-color 0.3s;
}

.filter-options button.active {
  background-color: #222; /* Couleur noire pour le bouton actif */
  color: white;
}

/* Grille des produits */
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
}

/* Styles pour les cartes de produit */
.product {
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s;
  background-color: white; /* Fond blanc pour les cartes produit */
}

.product:hover {
  transform: scale(1.05); /* Effet de zoom au survol */
}

.product-image {
  width: 100%;
  height: 150px; /* Fixer la hauteur de l'image */
  object-fit: cover; /* Adapter l'image à la taille sans la déformer */
  border-radius: 10px;
}

.product-title {
  font-size: 1.1rem;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #333;
}

.product-price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

/* Ajustement des étoiles de notation */
.stars {
  display: flex;
  justify-content: center;
}

.star {
  color: gold;
  font-size: 1rem;
}

.filled-star {
  color: gold;
}

.empty-star {
  color: #ddd;
}
