.reviewer {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
}

.reviewer-info {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}

h3, p {
    margin: 0.2rem;
}

